<% include ../../partials/header %>

<div class="container">
    <div class="card" style="width: 600px; margin: auto;">
        <div class="card-header">
            <h2 style="float: left;">Add new post</h2>
            <a href="/secure/news" class="btn btn-outline-dark" style="float: right;">Go back</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form action="/secure/news" method="POST">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" placeholder="Title" name="title" class="form-control">
                            <small class="form-text text-muted">Make it cute, you can do that!</small>
                        </div>
                        <div class="form-group">
                            <label>Image URL</label>
                            <input type="text" placeholder="Image URL" name="image" class="form-control">
                            <small class="form-text text-muted">No puppies, please... <i>They are too cute</i></small>
                        </div>
                        <div class="form-group">
                            <label>Short Description</label>
                            <textarea class="form-control" name="shortDesc" rows="2"></textarea>
                            <small class="form-text text-muted">Describe me in a few words..</small>
                        </div>
                        <div class="form-group">
                            <label>Long Description</label>
                            <textarea class="form-control" name="longDesc" rows="4"></textarea>
                            <small class="form-text text-muted">Go big or Go Home!</small>
                        </div>
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer %>