<% include /partials/header %>

  <body class="animsition page-login-v3 layout-full">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->



<!-- Page -->
    <div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">>
      <div class="page-content vertical-align-middle">
        <div class="panel">
          <div class="panel-body">
            <div class="brand">
              <img class="brand-img" src="https://png.icons8.com/ios/1600/small-business.png" style="height:50px;" alt="logo">
              <h2 class="brand-text font-size-18">Login</h2>
            </div>
            <form method="POST" action="/login">
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="text" class="form-control" name="username" />
                <label class="floating-label">Username</label>
              </div>
              <div class="form-group form-material floating" data-plugin="formMaterial">
                <input type="password" class="form-control" name="password" />
                <label class="floating-label">Password</label>
              </div>
              <button type="submit" class="btn btn-primary btn-block btn-lg mt-40">Sign in</button>
            </form>
          </div>
        </div>

        <footer class="page-copyright page-copyright-inverse">
          <p>WEBSITE BY <a href="http://ricardobos.com/" style="color: white;">Ricardo Bos</a></p>
          <p>© Ricardo Bos 2018. All RIGHT RESERVED.</p>
        </footer>
      </div>
    </div>
    <!-- End Page -->
    
    
<% include /partials/footer %>