<% include ../../partials/header %>

<div class="container">
    <div class="card" style="width: 400px; margin: auto;">
        <div class="card-header">
            <h2 style="float: left;">Add new employee</h2>
            <a href="/secure/users/" class="btn btn-sm btn-outline-dark" style="float: right;">Go Back</a>  
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form action="/secure/users" method="POST">
                        <div class="form-group">
                            <label>Username:</label>
                            <input type="text" placeholder="Username" name="username" class="form-control">
                            <small class="form-text text-muted">Do <strong>not</strong> use first name!</small>
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" placeholder="Password" name="password" class="form-control">
                            <small class="form-text text-muted">User can <strong>not </strong>change this yet!</small>
                        </div>
                        <button type="submit" class="btn btn-outline-dark">Next step!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer %>