<% include ../../partials/header %>

<div class="container">
    <h3>Add new employee</h3>
    <div class="row">
        <div class="col-md-8">
            <form action="/secure/users" method="POST">
                <div class="form-group">
                    <span><strong>Username:</strong></span>
                    <input class="form-control" type="text" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                    <span><strong>Password:</strong></span>
                    <input class="form-control" type="password" placeholder="Password" name="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Next Step!</button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        User roles
                    </strong>
                </div>
                <div class="panel-body">
                    <p>
                        <strong>0</strong> Banned/Not activated <br>
                        <strong>1</strong> eSports Team Player <br>
                        <strong>2</strong> Tulip eSports Employee <br>
                        <strong>3</strong> Tulip eSports Developer
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer %>