body {
    background: #343a40;
}

.panel {
    width: 400px;
    background: #fff;
    border-radius: 0.286rem;
    margin-top: 10%;
}

.panel-body {
    padding: 20px 40px 20px;
}

.copyright {
    margin-top: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.copyright a{
    color: white;
}

.inactive {
    text-align: center;
}
.copyright a:hover {
    text-decoration: underline;
}