body{
    background: #EDEDED;
}
.container {
    padding-top: 15px;
    background-color:white;
    -webkit-box-shadow: 0px 6px 17px -1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 6px 17px -1px rgba(0,0,0,0.25);
    box-shadow: 0px 6px 17px -1px rgba(0,0,0,0.25);
}
.navbar{
    margin-bottom: 0;
}
.jumbotron{
    background-image: linear-gradient(to right bottom, #6c05ae, #8634bf, #a054d0, #b872e1, #d090f2);
    color: white;
}
h1{
    margin-top: 0;
}
td a {
    color: white;
}
td a:hover {
    color: white;
    text-decoration: none;
}

span a {
    color: white;
}
span a:hover {
    color: white;
    text-decoration: none;
}

.thumbnail {
    padding: 0;
}
.disabled {
    pointer-events:none; 
    opacity:0.6;
}

tr:nth-child(even){
    background-color: #f5f5f5;
}

td .img-circle {
    border-radius: 20%;
}