body{
    background: #343a40;
    color: white;
}

.container {
    margin-top: 30px;
}

.card {
    background: #565C63;
    border-radius: 0.286rem;
}
.userInfo img{
    text-align: center;
    height: 60px;
}

label{
    margin-bottom: 0;
}

small{
    text-decoration: inherit;
}

.category{
    color: #848C94;
    text-transform: uppercase;
}

.category p{
    margin-bottom: 0;
    font-weight:600;
}

.menu-top {
    margin-top: 20px;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    padding-top: 2px;
    padding-bottom:2px;
}

.menu a {
    color: #AFB5BA;
    text-decoration: none;
    text-transform: uppercase;
}

.bg-dark {
    background-color: #696d72!important;
}
