body{
background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    /*color: white;*/
    font-family: 'Lato', sans-serif;
}

.container {
    margin-top: 30px;
}

.card {
    /*background: #565C63;*/
    border-radius: 0.286rem;
    border: none;
}
.userInfo img{
    text-align: center;
    height: 60px;
}

label{
    margin-bottom: 0;
}

small{
    text-decoration: inherit;
}

.category{
    /*color: #848C94;*/
    text-transform: uppercase;
}

.category p{
    margin-bottom: 0;
    font-weight:600;
}

.menu-top {
    margin-top: 20px;
}


.menu a {
    color: #AFB5BA;
    text-decoration: none;
    text-transform: uppercase;
}

.black {
    color: black;
}