<% include ../../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-beer"></i> <strong>General</strong>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" disabled>Company</li>
                  <li class="list-group-item">Maintenance</li>
                  <li class="list-group-item">Support</li>
                  <li class="list-group-item">Logs</li>
                </ul>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <i class="far fa-envelope"></i> <strong>Email</strong>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" disabled>Company</li>
                </ul>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-cog"></i> <strong>Settings</strong>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Jobs</li>
                  <li class="list-group-item">Departments</li>
                  <li class="list-group-item">Support</li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    Home
                </div>
                <div class="card-body">
                    <h3>Welcome!</h3>
                    <p>This is where the magic happens! You can edit everything you want in here... Just click on the menu items there on the left!! <i class="far fa-smile"></i></p>
                    <label class="form-text text-muted">Some menu items are not clickable, because they are <strong>not</strong> developed yet.</label>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../../partials/footer %>